html{
  background-color: #000085;
  margin-top: 20px;
}
body {
  font-family: Tahoma;
  background-color: #DCDCDC; /*#3597db*/
  color:  black;
  text-align: center;
  font-size: 22;
  width: 76%;
  margin: auto;
  margin-bottom: 20px;
}

a {
  color: black;
  font-size: 32;

}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #FFD700;
  background-color: #00008B;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #2F4F4F;
  font: Times;
}

.back {background-color: red;
      box-shadow: 0 9px #f44336;
      visibility: hidden;
      color: white;} /* Red */ 

.button:hover {background-color: #2F4F4F;}

.button:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  font-size: 30px;
}

#profile-pic{
  max-width: 90px;
}

#profile-pic{
  margin: 10px;
}

.section {
  margin: 10px;
}